{% extends "base.html" %} {% block title %}Sign Up{% endblock %}
{% block content %}
<form method="POST">
    <br />
    <h3 align="center">Sign Up</h3>
    <div class="form-group>
        <label for=" email">Email Adress</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email"
            required="required" /> <!-- inputting the email and ensuring the feild isnt left empty -->
    </div>
    <br />
    <div class="form-group>
        
        <label for=" firstName">First Name</label>
        <input type="text" class="form-control" id="firstName" name="firstName" placeholder="Enter first name"
            required="required" /> <!-- inputting the first name and ensuring the feild isnt left empty, and also contains the correct format -->
    </div>
    <br />
    <div class="form-group>
        <label for=" password1">Password</label>
        <input type="password" class="form-control" id="password1" name="password1" placeholder="Enter password"
            required="required" /> <!-- inputting this password and ensureinth the feild isn't empty -->
    </div>
    <br />
    <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input type="password" class="form-control" id="password2" name="password2" placeholder="Confirm password"
            required="required" /> <!-- check for if the two entered passwords match -->
    </div>
    <div class="form-group">
        <!-- Choosing the role will determine whether certain app permissions will be granted, for example, only users with the teacher role will be allowed to create specialized courses. -->
        <label for="role">Role</label>
        <select class="form-control" id="role" name="role" required="required">
            <option value="student">Student</option>
            <option value="teacher">Teacher</option>
        </select>
    </div>
    <div class="d-grid gap-2 col-13 mx-auto">
        <button type="submit" class="btn btn-outline-dark btn-lg" align="center">Sign Up</button>
    </div>
    <!-- button -->
{% endblock %}