{% extends "base.html" %} {% block title %}Log In{% endblock %}
{% block content %}
<!-- creating a form to allow for information input-->
<form method="POST">
    <br />
    <h3 align="center">Log In</h3>
    <div class="form-group>
        <label for=" email">Email Adress</label>
        <input type="email" class="form-control" id="email" name="email" placeholder="Enter email" />
    </div>
    <br />
    <div class="form-group>
        <label for=" password">Password</label>
        <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
            required="required" />
            <!-- ensuring the password feild isnt left empty -->
    </div>
    <br />
    <div class="d-grid gap-2 col-13 mx-auto">
        <button type="submit" class="btn btn-outline-dark btn-lg" align="center">Log In</button>
    </div>
    {% endblock %}